/* Setting the global font size to base 10*/
html {
  font-size: 62.5%;
}

/* Setting configurations for all elements in the body (basically everything)*/

body {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  color: rgb(34, 33, 33);
  line-height: 1.6;
  font-weight: 300;
  background-color: #f1f1f1;
}

/* Header divider to display website name */

.headerdiv {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 5rem;
  background-color: rgb(242, 95, 92);
  vertical-align: baseline;
  margin: 0;
  color: #f1f1f1;
  font-size: 2rem;
  font-weight: 400;
}

.site-title {
  display: inline-block;
  margin-left: 20px;
  line-height: normal;
  text-decoration: none;
  color: #f1f1f1;
}

.div1 {
  display: none;
}

a:link {
  text-decoration: none;
}

.mobile-burger {
  position: absolute;
  top: 0.9rem;
  right: 2rem;
}

.mobile-burger a {
  color: #f1f1f1;
}
 
/* Actual page is displayed in containers*/

.container {
  display: grid;
  grid-template-columns: 100vw;
  border: 2px solid black;
}
/* Documentation topic chooser */

.div-toggle {
  height: 5rem;
  width: 100%;
  margin: auto;
  border: 2px solid rgb(242, 95, 92);
  border-radius: 5px;
  padding-left: 1rem;
}

.selecter {
  display: flex;
  align-items: center;
  padding: 3.5rem 0 2rem;
}

/* Fine-tuning hidden selection containers (Hide and seek!!*/

.pve {
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.dropdown-container {
  display: none;
  padding: 0 2rem;
}

.dropdown-btn {
  background-color: transparent;
  border: none;
}

nav.main-nav, .hide {
  display: none; 
}

/* MENU 
Side navigation box, occupying the second box in the grid.*/

@media screen and (min-width: 768px) {
  .div1 {
    background-color: rgb(204, 203, 203);
    height: 3rem;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    white-space: nowrap;
  }

  .div1 a, .div1 i {
    padding: 0 1rem;
    color:rgb(34, 33, 33);
  }

  .div1 i {
    font-size: 1rem;
  }

  .div1 .wl2pve {
    padding-left: 1rem;
  }
  
  .div1 span {
    font-size: 1.5rem;
  }

  .div1 a:hover {
    text-decoration: underline;
  }
  
  .div1 a:visited {
    text-decoration: none;
  }

  .mobilemenu, .mobile-burger {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: 2% 23% 50% 23% 2%;
    border: 2px solid black;
  }

  .container div.dingy {
    margin: 5rem
  }

  .div1 .burger{
    display: none;
  }

  nav.main-nav {
    display: block;
    height: 90vh;
    width: 80%;
    padding: 0;
    opacity: 1;
    transition: all 0.5s ease;
    box-sizing: border-box;
    align-items: center;
    white-space: nowrap;
    z-index: 20;
    position: relative;
  }

  nav.main-nav ul {
    padding-left: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

  nav.main-nav ul li, 
  .test {
    border-bottom: 1px solid rgba(238, 9, 9, 0.918);
    list-style: none;
    padding: 0;
  }

  nav.main-nav ul li .ul {
    border-bottom: 1px solid rgba(238, 9, 9, 0.918);
  }

  nav.main-nav ul li a,
  nav.main-nav ul li button {
    font-size: 1.75rem;
    color: #111;
    padding: 0.75rem 0;
    font-weight: 400;
    display: block;
    transition: all 0.5s ease;
    text-decoration: none;
    width: 100%;
    text-align: left;
  }

  nav.main-nav ul li a.test {
    font-size: 1.5rem;
    white-space: pre-line;
  }

  nav.main-nav ul li a:last-child {
    border: none;
  }

  nav.main-nav ul li a:hover {
    padding: 1rem 1rem;
    background-color: rgb(207, 205, 203);
  }

  nav.main-nav ul li button:hover {
    padding: 1rem 2rem;
    background-color: rgb(207, 205, 203);
  }

  nav.main-nav ul li i {
    padding: 0.75rem;

  }

  nav.main-nav ul li button:focus {
    background-color: rgb(231, 231, 230);
  }

  .selecter {
    display: flex;
    align-items: center;
    padding: 3.5rem 0 2rem;
  }

  .selecter-text {
    overflow: hidden;
    overflow-wrap: break-word;
    width: 100%;
    display: inline-block;
    white-space: pre-line;
  }

  #navigationbar-mobile {
    display: none;
  }
}
  /* CONTENT 
This is where the meat of the documentation is placed. Formatted in headings, paragraphs and bullets.*/

.main-text {
  background-color: #f1f1f1;
  background-size: cover;
  align-content: center;
  font-size: 2rem;
  padding: 0 2rem;
  color: black;
}

.main-text p,
li {
  font-size: 1.75rem;
}

.main-text ul a /* , .main-text ul li span */{
  margin: 0 1.5rem;
  text-decoration: none;
  color: inherit
}

.main-text ul li ul {
  padding-inline-start: 30px;
}

table {
  padding-left: 2rem;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
.weapon-upgrade-costs tr td.white-bk {background: #FFF}

tr.table-header {
  background: rgb(242, 95, 92);
  color: #f1f1f1;
}

tr {
  border-bottom: 1px solid black;
}

.guild-levels col:nth-child(2), .guild-levels col:nth-child(4) {
  border-right: 1px solid black;
  margin: -1px;
}

.guild-levels td, .susan-rates td {
  text-align: center;
}

.weapon-upgrade-costs td {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.7rem;
}

.weapon-upgrade-costs td.dash {
  text-align: center;
}

.weapon-upgrade-costs col:nth-child(1), .weapon-upgrade-costs col:nth-child(2), .weapon-upgrade-costs col:nth-child(3), .weapon-upgrade-costs col:nth-child(4), .weapon-upgrade-costs col:nth-child(5){
  border-right: 1px solid black;
  margin: -1px;
}

.common {
  font-weight: 700;
  color: chartreuse;
}

.rare {
  font-weight: 700;
  color: dodgerblue;
}

.epic {
  font-weight: 700;
  color: blueviolet;
}

.legendary {
  font-weight: 700;
  color: gold;
}


.command, .bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.commandmono {
  font-family: 'Courier New', Courier, monospace;
  background-color:rgb(207, 205, 203)
}

.placeholder {
  background-color:rgb(248, 132, 16)
}

/* logo, navigation menu styling */
#navigationbar-mobile {
  overflow: auto;
  background-color: rgb(242, 95, 92);
  position: relative;
  width: 100%;
  height: 85vh;
  display: none;
}

#navigationbar-mobile ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.918);
  list-style: none;
  padding: 0;
}

.dingleberry {
  padding-bottom: 5rem;
}

img {
  height: auto;
  max-width: 100%;
}

.ach-gif-1 {
  position: relative;
}

.achgif {
  position: relative;
  z-index: 5;
}

.achstatic {
  position: absolute;
  z-index: 10;
  left: 0;
}

.ach-gif-1:hover .achstatic {
  opacity: 0;
}