#guilds-dropdown, #money-dropdown, #weapons-dropdown, #mw-fair-dropdown, #susan-dropdown, #level-rewards-dropdown, #achievements-dropdown{
    display: none;
    
}
.mobilemenu {
    padding: 0;
    margin-left: 0rem;
    background: rgb(242, 95, 92);
}

.mobilemenu ul {
    padding: 0;
    list-style: none;
}

.mobilemenu ul li a {
    color: #f1f1f1;
    text-decoration: none;
    list-style: none;
    font-size: 3rem;
}

.mobilemenu ul li a i {
    padding: 1rem 2rem;
}

.mobilemenu ul div ul li a span{
    color: #f1f1f1;
    text-decoration: none;
    list-style: none;
    font-size: 2rem;
    padding-left: 5rem;
}

.mobilemenu ul div ul li a:active, .mobilemenu ul div ul li a:hover, .mobilemenu ul li a:active, .mobilemenu ul li a:hover {
    background-color: rgb(202, 58, 56);
    padding: 1rem 1rem;
    color: #f1f1f1;
}

.fullwidth {
    width:100%;
    box-sizing: border-box;
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
    display:block;
     /*This will result in centering the link text, which is probably what you want -brianjohnsondesign.com*/
    }

.fullwidtha {
    width:100%;
    box-sizing: border-box;
    display:block;
     /*This will result in centering the link text, which is probably what you want -brianjohnsondesign.com*/
    }