.dimmer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
    display: grid;
    place-items: center;
}

.dimmer-active {
    visibility: visible;
    opacity: 1;
}

#closer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    opacity: 0;
    display: none;
    place-items: center;
}

.closer-active {
    display: block;
    opacity: 1;
}

.class-container {
    position: relative;
}

.class-container .upgrade-button-div, .class-container .master-button-div {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 60px;
}

.class-container .upgrade-button-div {
    right: 100px;
}

.upgrade-button {
    background-color: rgb(67, 131, 228);
    border: none;
}

.master-button {
    background-color: rgb(238, 198, 20);
    border: none;
}

.class-container .master-button-div {
    right: 20px;
}

.skill-title {
    grid-column-start: 1;
    grid-row-start: 1;
}

.skill-description {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

.button-desktop {
    display: none;
}

.master-button, .upgrade-button, .close-button {
    width: 100%;
    height: 4rem;
    padding-left: 0; 
    padding-right: 0;
    color: black;
}

.upgrade-button, .master-button {
    border-radius: 5px;
}

.close-button {
    border-radius: 0 0 25px 25px;
}

h3 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.popup-container {   
    color: #f1f1f1;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    z-index: 100;
}

.topbar {
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 25px 25px 0 0;
    font-size: 2rem;
    font-weight: 500;
}

.x-button {
    display: none;
}

.content-primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-primary-master, .content-primary {
    border-radius: 0 0 20px 20px;
}
.content-primary-master {
    display: grid;
}

.content-primary-master, .content-primary {
    background-color: rgba(0, 0, 0, 0.5); 
}

.upgrade-1, .upgrade-2, .master {
    flex-direction: horizontal;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgba(66, 66, 66, 0.3);
    border-radius: 20px;
}

.upgrade-1 { 
    margin: 2rem 2rem 1rem 2rem;
}

.upgrade-2 {
    margin: 1rem 2rem 2rem 2rem;
}

.master {
    margin: 2rem;
}

.upgrade-1-header, .upgrade-2-header, .master-header {
    border-bottom: lime 2px solid;
    width: 100%;
    display: flex;
    justify-content: center;
}

.upgrade-1-header span, .upgrade-2-header span, .master-header span {
    padding: 0.5rem;
    font-weight: 500;
}

.upgrade-desc {
    display: block;
}

.upgrade-desc-header, .upgrade-desc-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.upgrade-desc-header span, .upgrade-desc-content span {
    text-align: center;
}

.upgrade-desc-content-master div {
    margin: 2rem;
    font-size: 1.5rem;
}

/* .upgrade-desc-header {
    margin-top: 0.5rem;
} */

.upgrade-desc-content {
    margin: 0.7rem 0;
    font-weight: 400;
}

/* .upgrade-desc-header {
    font-size: 1.7rem;
    font-weight: 400;
} */

.upgrade-desc-content {
    font-size: 1.7rem;
}



.upgrade-grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    align-items: center;
}

.tier-4-container {
    display: flex;
}

.tier-1 {
    grid-column-start: 1;
    grid-row-start: 1;
}

.tier-2 {
    grid-column-start: 2;
    grid-row-start: 1;
}

.tier-3 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.tier-4-desc {
    /* grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 2; */
    display: block;
}

.tier-4 .upgrade-tier {
    margin: 0.5rem 0 0.7rem;
}

.tier-4-desc .upgrade-value {
    margin: 0 0 0.5rem;
}

.tier-4-desc {
    margin-bottom: 1.5rem;
}


.tier-4 .upgrade-tier, .tier-4-desc .upgrade-value {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    vertical-align: middle;
}

.upgrade-tier, .upgrade-value {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.upgrade-tier {
    font-weight: 400;
    font-size: 1.7rem;
}

.upgrade-value {
    font-size: 1.5rem;
}

#popup-1 .topbar, #popup-1-m .topbar{
    background-color: rgb(61, 192, 72);
}

#popup-2 .topbar, #popup-2-m .topbar{
    background-color: rgb(241, 72, 21);
}

#popup-3 .topbar, #popup-3-m .topbar{
    background-color: rgb(138,52,175);
}

#popup-4 .topbar, #popup-4-m .topbar{
    background-color: rgba(15,183,255);
}

#popup-5 .topbar, #popup-5-m .topbar{
    background-color: rgb(255,165,40);
}

.skill-1 .skill-title h3 {
    color: rgb(61, 192, 72);
}

.skill-2 .skill-title h3 {
    color: rgb(255,34,0);
}

.skill-3 .skill-title h3 {
    color: rgb(138,52,175);
}

.skill-4 .skill-title h3 {
    color: rgba(15,183,255);
}

.skill-5 .skill-title h3 {
    color: rgb(255,165,40);
}

.icon-attack {
    background: url('/icons/attack.png');
    height: 4.8rem;
    width: 4.8rem;
    display: inline-block;
    /* Other styles here */
}
@media screen and (min-width: 1200px) {
    .class-container{
        display: grid;
        grid-template-columns: 60% 20% 20%;
        grid-template-rows: 2;
    }

    .button-tablet {
        display: none;
    }

    .button-desktop {
        display: block;
    }
    
    .master-button-div, .upgrade-button-div {
        display: flex;
        margin: 1.5rem 0;
        min-width: 110px;
    }

    .class-container .upgrade-button-div {
        right: 130px;
    }
    
    .class-container .master-button-div {
        right: 0px;
    }

    .popup-container {   
        color: #f1f1f1;
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50vw;
        max-width: 700px;
        z-index: 100;
    }

    .content-primary {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .upgrade-1 {
        margin: 2rem 1rem 2rem 2rem; 
    }
    
    .upgrade-2 {
        margin: 2rem 2rem 2rem 1rem;
    }

    .topbar .x-button {
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        font-size: 1.2rem;
        color: white;
        position:absolute; top: 2.4rem; right:4rem;
        border: none;
        border-radius: 100px;
    }
    
    
    .x-button:hover {
        background-color: blue;
    }

    .close-button {
        display: none;
    }
}
